**/*.settings/
**/.project
**/target/
**/.classpath
**/logs/
**/*.iml
**/.settings
**/*.class
**/*.pyc
**/target
**/.idea
**/*.log

.settings
.project
.classpath
*.class
*.pyc
target
.idea
*.iml
**/.cache/
*.log


release.properties
pom.xml.releaseBackup
